<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
    {{!-- <link rel="stylesheet" href="style.css"> --}}
</head>

<body>
    <div class="container">
        <form action="/addsong">
            <h3>ADD SONGS</h3>

            <hr>

            <label for="name"><b>Song name</b></label>
            <input type="text" placeholder="Enter Name" name="sname" id="sname" required>

            <label for="date"><b>Date</b></label>
            <input type="date" placeholder="Enter date of release " name="dor" id="dor" required>
            
            <label for="Artist name"><b>Artist Name</b></label>
            <input type="text" placeholder="Enter Artist name" name="aname" id="aname" required>



            {{!-- <div class="gender_g">
                <strong>Gender</strong>
                <input type="radio" name="gender" id="" value="Male"> Male
                <input type="radio" name="gender" id="" value="Female"> Female
            </div> --}}
            <button type="submit" class="registerbtn">ADD Song</button>


            <a href="./" style="color:black">BACK TO HOME PAGE</a> <br>
            {{#if mesg}}
            <h3>Data Inserted</h3>
            {{/if}}

            {{#if checkmesg}}
            <h3>Song present</h3>
            {{/if}}
        </form>
    </div>
</body>

</html>